bin
bin/**
.cache
.directory
.directory.lock
.worksheet
.worksheet/**
.classpath
.settings
.settings/**
.project
build
build/**
project/target
project/project
target
.idea
.idea_modules
.idea/**
.idea_modules/**
.DS_Store
